[[source]] # Package source
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] # Packages required to run the application
microsoft-kiota-abstractions = "==0.5.0"
microsoft-kiota-http = "==0.4.0"
microsoft-kiota-authentication-azure = "==0.2.0"
httpx = {version = "==0.23.3", extras = ["http2"]}

[dev-packages] # Packages required to develop the application
setuptools = "==67.6.1"
build = "==0.10.0"
bumpver = "==2022.1120" 
pylint = "==2.17.1"
mypy = "==1.1.1"
yapf = "==0.32.0"
isort = "==5.12.0"
pytest = "==7.2.2"
pytest-cov = "==4.0.0"
types-python-dateutil = "*"
toml = "==0.10.2"
pytest-trio = "==0.8.0"
pytest-mock = "==3.10.0"
asyncmock = "==0.4.2"
azure-identity = "1.12.0"
trio = "==0.22.0"
