-i https://pypi.org/simple

async-generator==1.10 ; python_version >= '3.5'

asyncmock==0.4.2

attrs==25.3.0 ; python_version >= '3.7'

azure-core==1.35.0 ; python_version >= '3.7'

azure-identity==1.23.0

build==1.2.2.post1

bumpver==2025.1131

certifi==2025.7.14 ; python_version >= '3.6'

cffi==1.17.1 ; os_name == 'nt' and implementation_name != 'pypy'

charset-normalizer==3.4.2 ; python_full_version >= '3.7.0'

click==8.1.8 ; python_version >= '3.6'

colorama==0.4.6 ; os_name == 'nt'

coverage[toml]==7.9.2 ; python_version >= '3.7'

cryptography==45.0.5 ; python_version >= '3.7'

dill==0.4.0 ; python_version < '3.11'

exceptiongroup==1.3.0 ; python_version < '3.11'

idna==3.10 ; python_version >= '3.5'

importlib-metadata==7.1.0 ; python_version >= '3.7'

iniconfig==2.1.0 ; python_version >= '3.7'

isort==6.0.1

lazy-object-proxy==1.11.0 ; python_version >= '3.7'

lexid==2021.1006 ; python_version >= '2.7'

looseversion==1.3.0 ; python_version >= '3.5'

mccabe==0.7.0 ; python_version >= '3.6'

mock==5.2.0 ; python_version >= '3.6'

msal==1.32.3

msal-extensions==1.3.1

mypy==1.16.1

mypy-extensions==1.1.0 ; python_version >= '3.5'

outcome==1.3.0.post0 ; python_version >= '3.7'

packaging==25.0 ; python_version >= '3.7'

pathlib2==2.3.7.post1

platformdirs==4.3.8 ; python_version >= '3.7'

pluggy==1.6.0 ; python_version >= '3.7'

portalocker==2.10.1 ; python_version >= '3.5' and platform_system == 'Windows'

pycparser==2.22

pyjwt[crypto]==2.9.0 ; python_version >= '3.7'

pylint==3.3.7

pyproject-hooks==1.2.0 ; python_version >= '3.7'

pytest==8.4.1

pytest-cov==5.0.0

pytest-mock==3.14.1

python-dotenv==1.1.1

pytest-trio==0.8.0

pytest-asyncio==1.0.0

pywin32==310 ; platform_system == 'Windows'

requests==2.32.4 ; python_version >= '3.7'

setuptools==80.9.0

six==1.17.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

sniffio==1.3.1 ; python_version >= '3.7'

sortedcontainers==2.4.0

toml==0.10.2

tomli==2.2.1 ; python_version < '3.11'

tomlkit==0.13.3 ; python_version >= '3.7'

trio==0.30.0

types-python-dateutil==2.9.0.20250708

types-requests==2.32.4.20250611; python_version >= '3.7'
urllib3==2.5.0 ; python_version >= '3.7'
typing-extensions==4.14.1 ; python_version >= '3.7'


wrapt==1.17.2 ; python_version < '3.11'

yapf==0.43.0

zipp==3.23.0 ; python_version >= '3.7'

aiohttp==3.12.14 ; python_version >= '3.6'

aiosignal==1.4.0 ; python_version >= '3.7'

anyio==4.9.0 ; python_version >= '3.7'

async-timeout==5.0.1 ; python_version >= '3.6'

frozenlist==1.7.0 ; python_version >= '3.7'

h11==0.16.0 ; python_version >= '3.7'

h2==4.2.0

hpack==4.1.0 ; python_full_version >= '3.6.1'

httpcore==1.0.9 ; python_version >= '3.7'

httpx[http2]==0.28.1

hyperframe==6.1.0 ; python_full_version >= '3.6.1'

microsoft-kiota-abstractions==1.9.4

microsoft-kiota-authentication-azure==1.9.4

microsoft-kiota-http==1.9.4

microsoft-kiota-serialization-json==1.9.4

multidict==6.6.3 ; python_version >= '3.7'

uritemplate==4.2.0 ; python_version >= '3.6'

yarl==1.20.1 ; python_version >= '3.7'

deprecated==1.2.18

types-Deprecated==1.2.15.20250304
